In order to use the tradingstrategy package, you need to:
- create a new conda environment equipped with python=3.10 
    - conda create --name ENV_NAME python=3.10
- activate it
    - conda activate ENV_NAME
- install tradingstrategy using pip
    - pip install "trading-strategy[direct-feed]"
- export the TRADING_STRATEGY_API_KEY environment variable. The key can be obtained by signing up to tradingstrategy.ai

In [1]:
import os
# Set environment variable for this script and any subprocesses
os.environ["TRADING_STRATEGY_API_KEY"] = "secret-token:tradingstrategy-24eaf8956529ba888ce7a6a0e88913f3d95d1ece83dafb019fbe0332224ce0ad"
# Example: running a command that uses the environment variable
os.system('echo $TRADING_STRATEGY_API_KEY')

secret-token:tradingstrategy-24eaf8956529ba888ce7a6a0e88913f3d95d1ece83dafb019fbe0332224ce0ad

0

The following are some simple functions to get information about pairs from the pairs dataframe downloaded from https://tradingstrategy.ai/trading-view/backtesting?ref=trading-strategy.ghost.io

In [2]:
import pandas as pd

# Search for the pair with the given token symbols
def search_pair(token0_symbol, token1_symbol):
    # search for the pair with the given token symbols regardless the order
    pair_f = pairs[(pairs['token0_symbol'] == token0_symbol) & (pairs['token1_symbol'] == token1_symbol)]
    pair_r = pairs[(pairs['token0_symbol'] == token1_symbol) & (pairs['token1_symbol'] == token0_symbol)]
    # concatenate the two results
    pair = pd.concat([pair_f, pair_r])
    # sort the result by buy_volume_all_time + sell_volume_all_time
    pair = pair.sort_values(by=['buy_volume_all_time', 'sell_volume_all_time'], ascending=False)
    return pair

# Search for the pairs on the given exchange
def search_exchange(exchange):
    return pairs[pairs['dex_type'] == exchange]

# Search by pair id
def search_pair_by_id(pair_id):
    return pairs[pairs['pair_id'] == pair_id]

In [3]:
# Read the parquet file containing all the pairs
pairs = pd.read_parquet('/home/danielemdn/Documents/repositories/data/DeFi/pair-universe')
print(f'Features of the pairs parquet dataframe:\n\t{pairs.columns}')

# Search for the pair with the given token symbols
pair = search_pair('WETH', 'USDC')
pair

Features of the pairs parquet dataframe:
	Index(['pair_id', 'chain_id', 'exchange_id', 'address', 'token0_address',
       'token1_address', 'token0_symbol', 'token1_symbol', 'dex_type',
       'base_token_symbol', 'quote_token_symbol', 'token0_decimals',
       'token1_decimals', 'exchange_slug', 'exchange_address', 'pair_slug',
       'first_swap_at_block_number', 'last_swap_at_block_number',
       'first_swap_at', 'last_swap_at', 'flag_inactive',
       'flag_blacklisted_manually', 'flag_unsupported_quote_token',
       'flag_unknown_exchange', 'fee', 'buy_count_all_time',
       'sell_count_all_time', 'buy_volume_all_time', 'sell_volume_all_time',
       'buy_count_30d', 'sell_count_30d', 'buy_volume_30d', 'sell_volume_30d',
       'buy_tax', 'transfer_tax', 'sell_tax', 'exchange_name'],
      dtype='object')

,pair_id,chain_id,exchange_id,address,token0_address,token1_address,token0_symbol,token1_symbol,dex_type,base_token_symbol,...,buy_volume_all_time,sell_volume_all_time,buy_count_30d,sell_count_30d,buy_volume_30d,sell_volume_30d,buy_tax,transfer_tax,sell_tax,exchange_name
158716,2991521,42161,4338,0xc31e54c7a869b9fcbecc14363cf510d1c41fa443,0x82af49447d8a07e3bd95bd0d56f35241523fbab1,0xff970a61a04b1ca14834a43f5de4533ebddb5cc8,WETH,USDC,uniswap_v3,WETH,...,2.606096e+10,2.601838e+10,0.0,0.0,7.527613e+08,7.596357e+08,NaN,NaN,NaN,None
0,1,1,1,0xb4e16d0168e52d35cacd2c6185b44281ec28c9dc,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,USDC,WETH,uniswap_v2,WETH,...,2.259838e+10,2.240351e+10,48605.0,41009.0,1.415643e+08,1.458504e+08,0.0,0.0,0.0,None
1413,9261,1,22,0x397ff1542f962076d0bfe58ea045ffa2d347aca0,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,USDC,WETH,uniswap_v2,WETH,...,1.571117e+10,1.556137e+10,11577.0,10820.0,1.347286e+07,1.408837e+07,0.0,0.0,0.0,None
13405,93756,137,360,0x853ee4b2a13f8a742d64c8f088be7ba2131f670d,0x2791bca1f2de4661ed88a30c99a7a9449aa84174,0x7ceb23fd6bc0add59e62ac25578270cff1b9f619,USDC,WETH,uniswap_v2,WETH,...,3.909363e+09,3.903740e+09,7622.0,6882.0,2.907419e+06,3.031317e+06,0.0,0.0,0.0,None
156785,2949365,42161,4122,0x905dfcd5649217c42684f23958568e533c711aa3,0x82af49447d8a07e3bd95bd0d56f35241523fbab1,0xff970a61a04b1ca14834a43f5de4533ebddb5cc8,WETH,USDC,uniswap_v2,WETH,...,2.118679e+09,2.118971e+09,12073.0,10831.0,1.833710e+06,1.878153e+06,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222292,3544423,42161,5340,0xa825cbce55b46c7a9dfc6a8376faf707d432fc9f,0x82af49447d8a07e3bd95bd0d56f35241523fbab1,0xff970a61a04b1ca14834a43f5de4533ebddb5cc8,WETH,USDC,uniswap_v2,WETH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
14519,100103,137,455,0xc3e32d187bcb4da7594d23f8aca65613449bb3ea,0x2791bca1f2de4661ed88a30c99a7a9449aa84174,0x7ceb23fd6bc0add59e62ac25578270cff1b9f619,USDC,WETH,uniswap_v2,WETH,...,NaN,NaN,NaN,NaN,NaN,NaN,997.0,997.0,997.0,None
15082,103365,137,493,0xf758c3ae5b665390ea00366200d5eb6858078e48,0x2791bca1f2de4661ed88a30c99a7a9449aa84174,0x7ceb23fd6bc0add59e62ac25578270cff1b9f619,USDC,WETH,uniswap_v2,WETH,...,NaN,NaN,NaN,NaN,NaN,NaN,997.0,997.0,997.0,None
125061,2621713,137,601,0x0ecb5d668cc6ab450738b7f605de24c3d7fdbcac,0x2791bca1f2de4661ed88a30c99a7a9449aa84174,0x7ceb23fd6bc0add59e62ac25578270cff1b9f619,USDC,WETH,uniswap_v2,WETH,...,NaN,NaN,NaN,NaN,NaN,NaN,997.0,997.0,997.0,None
126888,2665319,137,3612,0xcd2c5b223fa8e9a26113eb434fea79748c4d8251,0x2791bca1f2de4661ed88a30c99a7a9449aa84174,0x7ceb23fd6bc0add59e62ac25578270cff1b9f619,USDC,WETH,uniswap_v2,WETH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

In [4]:
from tradingstrategy.client import Client
from tradingstrategy.trade import Trade
from tradingstrategy.timebucket import TimeBucket
from datetime import datetime

# Create a client
client = Client.create_jupyter_client()

Started Trading Strategy in Jupyter notebook environment, configuration is stored in /home/danielemdn/.tradingstrategy

In [8]:
# Fetch the candles for the given pair
delta_t = TimeBucket.m1
start_time = datetime(2024, 1, 30, 00, 00, 00) # 2024-01-30 00:00:00
end_time = datetime(2024, 2, 25, 00, 00, 00)  # 2024-02-25 00:00:00

# 2991521 is the pair_id of the pair WETH/USDC
candle_pairs = client.fetch_candles_by_pair_ids([2991521], bucket=delta_t, start_time=start_time, end_time=end_time, max_bytes=None, progress_bar_description=None)
candle_pairs

,timestamp,open,high,low,close,volume,exchange_rate,buys,sells,buy_volume,sell_volume,pair_id,start_block,end_block,avg
timestamp,,,,,,,,,,,,,,,
2024-01-30 00:00:00,2024-01-30 00:00:00,2316.505918,2317.200939,2315.579547,2315.579547,94888.972284,1.0,NaN,NaN,NaN,NaN,2991521,175542107,175542330,NaN
2024-01-30 00:01:00,2024-01-30 00:01:00,2315.348013,2315.579547,2313.496567,2313.727917,94191.949149,1.0,NaN,NaN,NaN,NaN,2991521,175542350,175542535,NaN
2024-01-30 00:02:00,2024-01-30 00:02:00,2313.265241,2313.265241,2312.340166,2312.340166,49513.094649,1.0,NaN,NaN,NaN,NaN,2991521,175542596,175542766,NaN
2024-01-30 00:03:00,2024-01-30 00:03:00,2312.340166,2312.340166,2312.108955,2312.108955,10703.902636,1.0,NaN,NaN,NaN,NaN,2991521,175542850,175542956,NaN
2024-01-30 00:04:00,2024-01-30 00:04:00,2312.108955,2312.108955,2312.108955,2312.108955,66.057138,1.0,NaN,NaN,NaN,NaN,2991521,175543099,175543202,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02-24 23:56:00,2024-02-24 23:56:00,2990.818831,2990.818831,2990.818831,2990.818831,9006.445441,1.0,NaN,NaN,NaN,NaN,2991521,184149835,184149989,NaN
2024-02-24 23:57:00,2024-02-24 23:57:00,2990.818831,2990.818831,2990.818831,2990.818831,2524.927881,1.0,NaN,NaN,NaN,NaN,2991521,184150042,184150202,NaN
2024-02-24 23:58:00,2024-02-24 23:58:00,2990.818831,2990.818831,2990.818831,2990.818831,2215.107616,1.0,NaN,NaN,NaN,NaN,2991521,184150279,184150403,NaN
2024-02-24 23:59:00,2024-02-24 23:59:00,2991.117913,2991.716167,2991.117913,2991.716167,21690.009749,1.0,NaN,NaN,NaN,NaN,2991521,184150430,184150610,NaN
2024-02-25 00:00:00,2024-02-25 00:00:00,2992.015338,2992.015338,2992.015338,2992.015338,5486.325003,1.0,NaN,NaN,NaN,NaN,2991521,184150629,184150786,NaN